.home-container{
    height: 100vh;
    display: flex;
  justify-content: space-between;
  align-items: center;

}
.home-details{
    margin-left: 120px;
    text-align: justify;
    font-size: 20px;
}
.home-details h2{
font-weight: 700;
font-size: 35px;
}
.home-details .home-btn{
    padding: 10px;
    
}
.home-cover-photo img{
height:650px;
width: 600px;
}